<% include head%>

<body>
    <div class="container">
        <div class="row">
            <div class="col col-sm-6 offset-sm-3">
                <h1><br><%= parsedData.title %></h1>
                <br>
                <img src="<%= imageBaseUrl + parsedData.poster_path %>" />
                <p><br><strong>Overview: </strong><%= parsedData.overview %></p>
                <br>
                <p><strong>Release Date: </strong> <%= parsedData.release_date %></p>

            </div>
        </div>
    </div>
</body>
</html>