body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-image: linear-gradient(to bottom right, rgb(226, 169, 214), rgb(238, 238, 238) , rgb(192, 192, 231));
}

h1 {
	color: navy;
}

.poster > a > img {
	border-radius: 0 40px 0 40px;
	padding-bottom: 10px;
}

.poster > a > img:hover {
	transform: scale(1.1);
	transition: all .5s ease-in-out;
}

a {
	color: #00B7FF;
}

.poster img {
	max-width: 100%;
}