html {
	background-color: black;
}

body {
	background-color: rgb(0, 138, 85);
	padding: 100px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

form {
	background-color: lightpink;
	padding: 20px;
	border-radius: 50px;
}

section {
	background-image: linear-gradient(to bottom right, rgb(169, 226, 186), rgb(238, 238, 238) , rgb(146, 209, 173));
	border-radius: 50px;
	height: 100vh;
	padding-top: 100px;
}

h1 {
	color: rgb(203, 203, 240);
}

.poster > a > img {
	border-radius: 0 40px 0 40px;
	padding-bottom: 10px;
}

.poster > a > img:hover {
	transform: scale(1.1);
	transition: all .5s ease-in-out;
}

a {
	color: #00B7FF;
}

.poster img {
	max-width: 100%;
}